.navigation,
.second {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}


.top_l img {
    width: 48px;
    height: 48px;
}

.top_m p {
    font-size: 30px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-links li {
    margin: 30px;
    width: 12%;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: rgb(6, 112, 206);
}
