.dark {
    background-color: black;
    color: white;

}
.light {
    background-color: white;
    color: black;
}

.flip-clock {
    display: flex;
    height: 70vh;
}

.left,
.right {
    display: flex;
    flex-direction: column;    width: 50%;
    justify-content: space-around;
    justify-items: center;
}

#hour,
#min {
    margin: -65px;
    font-size: 40vw;
    place-self: center;
}

#am_pm {
    place-self: start;
    font-size: 40px;
}

#sec {
    place-self: end;
    font-size: 40px;
}

#d,
#dn {
    place-self: center;
    font-size: 40px;
}
.dl {
    display: flex;
    justify-content: flex-end;
     
}