h2 {
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;
}

.item {
    width: 20%;
    background-color: seashell;
    height: 200px;
    margin: 20px;
}

.item3 {
    order: 5;
}

.direction {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    flex-direction: row-reverse;
    text-align: center;
}

.dir {
    width: 20%;
    background-color: seashell;
    height: 200px;
    margin: 20px;
}

.grow {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;
}

.gr {
    display: flex;
    width: 200px;
    background-color: seashell;
    height: 200px;
    margin: 20px;
}

.item11 {
    flex-grow: 1;
}

.item12 {
    flex-grow: 5;
}

.item13 {
    flex-grow: 8;
}

.item14 {
    flex-grow: 1;
}

.item15 {
    flex-grow: 10;
}

.shrink {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;
}

.sh {
    width: 20%;
    background-color: seashell;
    height: 200px;
    margin: 20px;
}

.item24 {
    flex-shrink: 3;
}

.wrap {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;
    flex-wrap: wrap;
}
.wr {
    width: 15%;
    background-color: seashell;
    height: 150px;
    margin: 20px;
}

.base {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;
    flex-wrap: nowrap;
}
.bs {
    width: 100px;
    background-color: seashell;
    height: 100px;
    margin: 20px;
}
.n3{
  flex-basis: 250px;
}

.flow {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;
    flex-wrap: nowrap;
    flex-flow: column wrap;
}
.fl {
    width: 80px;
    background-color: seashell;
    height: 100px;
    margin: 20px;
}
.just {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: start;

}
.ju {
    width: 80px;
    background-color: seashell;
    height: 50px;
    margin: 20px;
}

.self {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;

}
.sl {
    width: 80px;
    background-color: seashell;
    height: 50px;
    margin: 20px;
}
.s2{
    align-self: flex-end; 
}

.align {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;
    align-items: stretch;

}
.al {
    width: 80px;
    background-color: seashell;
    margin: 20px;
}

.content {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: wheat;
    text-align: center;
    align-content: end;
}
.co {
    width: 80px;
    background-color: seashell;
    height: 80px;
    margin: 20px;
}