



/* .i1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} */

/* .i1 img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
} */

/* .name {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    font-family: 'Comic Neue', cursive;
    text-shadow: 3px 3px rgb(167, 167, 14);
} */

/* .hr {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    font-family: cursive;
}

.navigation a {
    padding: 10px 18px;
    margin: 0px 4px;
    background: white;
    border: 2px solid #2d3748;
    border-radius: 50px;
    transform: rotate(-2deg);
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0 #2d3748;
}

.navigation a:nth-child(even) {
    transform: rotate(2deg);
}

.link {
    font-weight: 700;
    text-decoration: none;
} */

/* .navigation:hover {
    rotate: 0deg;
    background: #d0d000;
} */
