 .main {
     border: 10px solid black;
     margin: 15px;
 }

 .first-row,
 .second-row {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px;
     padding-bottom: 0;
     background-color: aqua;
 }

 .first-row h2 {
     border: 10px solid deeppink;
     padding: 0px 30px;
 }

 .kealogo {
     width: 130px;
 }

 .barcode {
     width: 175px;
 }

 .width-33 {
     width: 33.33%;
 }

 .number {
     display: flex;
     justify-content: start;
 }

 .code {
     display: flex;
     justify-content: end;
 }

 .logo {
     display: flex;
     justify-content: center;
 }

 .qrcode {
     width: 15%;
     display: flex;
     justify-content: start;
 }

 .header {
     width: 70%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     position: relative;

 }

 .header h1 {
     border: 4px solid deeppink;
     border-radius: 20px;
     color: deeppink;
     width: fit-content;
     align-self: center;
     margin-top: 10px;
 }

 .header h1,
 .header h2,
 .header h3 {
     margin: 0;
     padding: 5px;
 }

 .header h1 {
     position: absolute;
     bottom: -90px;
     background: white;

 }

 .photo {
     width: 15%;
     display: flex;
     justify-content: end;

 }

 .photo img {
     width: 115px;
     padding: 15px;
 }

 .qrcode img {
     width: 150px;
 }

 .third-row {
     display: flex;
     justify-content: center;
     font-style: oblique;
     padding-top: 13px;
 }

 .bc {
     width: 100%;
     padding-left: 146px;

 }

 .bc img {
     height: 106px;
     width: 239px;
     padding-right: 25px;
 }

 .fourth-row {
     display: flex;
 }

 .details {
     width: 50%;
     text-align: start;
     padding-left: 15px;
 }

 .my {
     width: 50%;
     text-align: end;
     padding-right: 147px;
 }

 .d3 {
     padding: 17px;
 }

 .d2 {
     padding: 12px;
 }