 .main {
     border: 10px solid black;
     margin: 15px;
 }

 .first-row,
 .second-row {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px;
     padding-bottom: 0;
     background-color: aqua;
 }

 .first-row h2 {
     border: 10px solid deeppink;
     padding: 0px 30px;
 }

 .kealogo {
     width: 130px;
 }

 .barcode {
     width: 175px;
 }

 .width-33 {
     width: 33.33%;
 }

 .number {
     display: flex;
     justify-content: start;
 }

 .code {
     display: flex;
     justify-content: end;
 }

 .logo {
     display: flex;
     justify-content: center;
 }

 .qrcode {
     width: 15%;
     display: flex;
     justify-content: start;
 }

 .header {
     width: 70%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     position: relative;

 }

 .header h1 {
     border: 4px solid deeppink;
     border-radius: 20px;
     color: deeppink;
     width: fit-content;
     align-self: center;
     margin-top: 10px;
 }

 .header h1,
 .header h2,
 .header h3 {
     margin: 0;
     padding: 5px;
 }

 .header h1 {
     position: absolute;
     bottom: -90px;
     background: white;

 }

 .photo {
     width: 15%;
     display: flex;
     justify-content: end;

 }

 .photo img {
     width: 115px;
     padding: 15px;
 }

 .qrcode img {
     width: 150px;
 }

 .third-row {
     display: flex;
     justify-content: center;
     font-style: oblique;
     padding-top: 13px;
 }

 .bc {
     width: 100%;
     padding-left: 146px;

 }

 .bc img {
     height: 70;
     width: 238px;
     padding-right: 48px;
     margin: -24px;
 }

 .fourth-row {
     display: flex;
     font-size: larger;

 }

 .details {
     width: 50%;
     text-align: start;
     padding-left: 15px;
 }

 .my {
     width: 50%;
     text-align: end;
     padding-right: 147px;
 }

 .d3 {
     padding: 17px;
 }

 .d2 {
     padding: 12px;
 }

 table {
     font-size: 33px;
     margin-top: 1px;
     margin-right: -30px;
     margin-bottom: 1px;
     margin-left: -30px;
 }

 .fifth-row {
     display: flex;
     justify-content: center;
     width: 100%;
 }

 table,
 th,
 td {
     border: 4px solid black;
     border-collapse: collapse;
     padding: 10px 0px;
     text-align: center;
 }

 .sixth-row {
     display: flex;
     padding: 1px 15px;
     margin-top: -10px;
 }

 .st {
     width: 35%;
     text-align: start;
     font-size: 30px;
 }

 .num {
     width: 65%;
     text-align: start;
     font-family: cursive;
     font-style: oblique;
 }

 .seventh-row {
     display: flex;
     justify-content: start;
     padding: 1px 15px;
     font-size: 30px;
 }

 .medium {
     width: 50%;
     text-align: start;
 }

 .dsign {
     width: 50%;
     text-align: center;
     padding-left: 330px;
     padding-top: 5px;
 }

 .dsign img {
     height: 89px;
     width: 172px;

 }

 .eighth-row {
     display: flex;
     justify-content: start;
     padding: 1px 15px;
     font-size: 30px;
 }

 .dos {
     width: 50%;
     text-align: start;
 }

 .director {
     width: 50%;
     margin-left: 120px;
 }

 .ninth-row {
     display: flex;
     justify-content: start;
     padding: 1px 15px;
     font-size: 20px;
 }

 .bc2 {
     width: 25%;
     justify-content: start;
 }

 .princi {
     width: 15%;
     justify-content: center;
     padding-left: 68px
 }

 .princi img {
     width: 176px;
     padding: 15px 0px;
     margin: -20px -1px;
 }

 .student {
     width: 20%;
     padding-top: 72px;
     padding-right: 0px;
     padding-bottom: 20px;
     padding-left: 37px;
 }

 .dept {
     width: 40%;
     text-align: center;
 }

 .dept p {
     font-style: oblique;

 }

 .dist {
     border: 3px solid black;
     border-radius: 10px;
     margin: 0px 15px;
 }

 .total {
     margin: 0px 15px;
     padding: 2px 15px;
     border: 5px solid black;
     border-radius: 30px;
     background-color: plum;
     border-color: slategrey;
 }