body {
    font-family: 'Manrope', sans-serif;
    background-color: #ffffff;
    color: #2d3748;
}

.main {
    margin-top: 10px;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation,
.second {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.top_l {
    /* width: 6%; */
}

.top_l img {
    width: 48px;
    height: 48px;
}

.top_m p {
    font-size: 24px;
    /* width: 44%;
    display: inline-block;
    background: linear-gradient(to right, #070791, #efdb43);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
    font-size: 32px; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-links li {
    margin: 30px;
    width: 12%;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: rgb(6, 112, 206);
}

.second {
    padding: 80px 0px;

}

.second_l {
    width: 70%;
}

.second_r {
    width: 30%;
    position: relative;
}

.second_r img {
    border: 10px solid lavender;
    border-radius: 10px;
    padding: 5px;
    width: 350px;
    margin-left: 20px;
}

.second_r p {
    position: absolute;
    right: 0;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 20px;
    bottom: 20px;
    border-radius: 20px;
    font-size: 20px;
}

.s1 {
    border-radius: 50px;
    background-color: white;
    color: #070791;
    width: fit-content;
    /* height: 28px; */
    text-align: center;
    font-size: 20px;
    /* margin-bottom: -19px; */
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.s2 {
    font-size: 60px;
    width: 70%;
    line-height: 80px;
    font-weight: 600;
}

.s2 span {
    color: blueviolet;
}

.s21 {
    font-size: 40px;
}

.s22 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    color: #070791;
    padding-left: 12px;
}

.s3 p {
    font-size: 24px;
    color: gray;
    line-height: 32px;
    margin-top: -47px;
}

.nav-links1 {
    display: flex;
    list-style: none;
    gap: 20px;

}

.nav-links1 li {
    width: fit-content;
    display: flex;
}

.nav-links1 a {
    color: #070791;
    border:2px;
    font-weight: 500;
    transition: color 0.3s;
    background-color: lavender;
    border-radius: 15px;
    text-decoration: none;
    font-size: 21px;
    padding: 15px;
}

.nav-links1 a:hover {
    color: rgb(6, 112, 206);
}
.vi{
    display:flex;
}
.about_sec {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.heading1 h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.heading1 p {
    color: rgb(75 85 99);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 672px;
    line-height: 28px;
    text-align: center;
}

.third {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 36px;
    display: grid;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.heading2 {
    grid-column: span 2 / span 2;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;

}

.t_mid {
    padding: 36px;
    border-radius: 16px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.t_mid h3 {
    font-weight: 700;
    color: black;
    font-size: 24px;
    line-height: 32px;
}

.t_mid p {
    color: rgb(75 85 99);
    margin-bottom: 24px;
    display: grid;
}

.per {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    display:grid;
}
.per_m {
    text-align: center;
}

.p {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 8px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.c {
    color: rgb(75 85 99 );
    font-size:14px;
    line-height:20px;
}

.th_r {
    width: 40%;
    padding-left: 31px;
}

.edu {
    width: 80%;
    font-size: 18px;
    background-color: rgb(240, 240, 249);
    padding: 10px;
    border: rgb(232, 232, 245);
    border-radius: 8px;
    margin-bottom: 20px;
}

.edu h3 {
    font-size: 30px;
}

.car {
    width: 80%;
    font-size: 18px;
    background-color: rgb(240, 240, 249);
    padding: 10px;
    border: rgb(232, 232, 245);
    border-radius: 8px;
    margin-bottom: 20px;
}

.car h3 {
    font-size: 30px;
}

.loc {
    width: 80%;
    font-size: 18px;
    background-color: rgb(240, 240, 249);
    padding: 10px;
    border: rgb(232, 232, 245);
    border-radius: 8px;
}

.loc h3 {
    font-size: 30px;
}

.heading3 {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: -27px;
}

.par {
    font-size: 22px;
    text-align: center;
    color: navy;
}

.tt {
    background-color: rgb(240, 240, 249);
    ;
    border: lavender;
    border-radius: 8px;
    margin: 30px;
    padding: 10px;
    width: 100%;
}

.heading4 {
    font-size: 25px;
    width: 100%;
}

.items {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 10px;
    padding: 0px;
    justify-content: space-evenly;
    padding: 2px;
}

.items div {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.one {
    background-color: white;
    width: 90%;
    font-size: 20px;
    text-align: center;
    border: white;
    border-radius: 8px;
    height: 33px;
    align-content: center;
    padding: 10px;
}

.two {
    background-color: white;
    width: 90%;
    font-size: 20px;
    text-align: center;
    border: white;
    border-radius: 8px;
    height: 33px;
    align-content: center;
    padding: 10px;
}

.three {
    background-color: white;
    width: 90%;
    font-size: 20px;
    text-align: center;
    border: white;
    border-radius: 8px;
    height: 33px;
    align-content: center;
    padding: 10px;
}

.four {
    background-color: white;
    width: 90%;
    font-size: 20px;
    text-align: center;
    border: white;
    border-radius: 8px;
    height: 33px;
    align-content: center;
    padding: 10px;
}

.five {
    background-color: white;
    width: 90%;
    font-size: 20px;
    text-align: center;
    border: white;
    border-radius: 8px;
    height: 33px;
    align-content: center;
    padding: 10px;
}

.six {
    background-color: white;
    width: 90%;
    font-size: 20px;
    text-align: center;
    border: white;
    border-radius: 8px;
    height: 33px;
    align-content: center;
    padding: 10px;
}

.seven {
    background-color: white;
    width: 90%;
    font-size: 20px;
    text-align: center;
    border: white;
    border-radius: 8px;
    height: 33px;
    align-content: center;
    padding: 10px;
}

.eight {
    background-color: white;
    width: 90%;
    font-size: 20px;
    text-align: center;
    border: white;
    border-radius: 8px;
    height: 33px;
    align-content: center;
    padding: 10px;
}

.heading5 {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: -27px;
}

.pa {
    font-size: 22px;
    text-align: center;
    color: navy;
}

.fourth {
    display: flex;
    width: 70%;
    margin: 30px;
    background-color: rgb(240, 240, 249);
    border-radius: 8px;
}

.f_l {
    width: 60%;
    margin: 10px;
    padding: 10px;
}

.f_l h3 {
    font-size: 30px;
}

.f_l p {
    font-size: 20px;
}

.f_r {
    width: 20%;
    text-align: end;
    padding-left: 45px;
    margin: 10px;
    font-size: 18px;
    padding-top: 31px;
}

.ex {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    padding-left: 200px;
}

.f_l li {
    font-size: 18px;
}

.heading6 {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: -27px;
}

.pa_last {
    font-size: 22px;
    text-align: center;
    color: navy;
}

.connect {
    width: 100%;
    display: flex;
    margin: 30px;
}

.form {
    width: 50%;
}

.details {
    width: 50%;
}

.mail {
    width: 25%;
    display: flex;
    margin: 10px;
}

.m_l {
    width: 25
}

.m_l img {
    width: 42px;
}