body {
    background-color: white;
    font-family: 'Inter', sans-serif;
}

.one {
    display: flex;
    width: 100%;
    padding: 16px;
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
}

.logo {
    width: 40px;
    height: 40px;
}

.name {
    font-size: 25px;
    margin: 0;
    font-weight: 700;
    font-family: sans-serif;
}


.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-left: 610px;
    margin-right: auto;
    font-weight: 500;
    font-size: 18px;

}

.navi a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.two {
    background-color: black;
    color: white;
    margin-top: 0;
    padding-top: 140px;
    display: flex;
    width: 1280px;
    height: 400px;
    padding-left: 16px;
    padding-right: 16px;
}

.l1 {
    width: 60%;
    gap: 15px;
    margin-left: 60px;

}

.info {
    display: flex;
    gap: 5px;
    border-radius: 30px;
    width: fit-content;
    align-items: center;
    padding: 5px;
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity, 1));
    font-weight: 500;
}


.stud {
    font-size: 15px;
    margin: 0;
}





.n span {
    font-size: 60px;
    color: transparent;
    background: linear-gradient(to right, purple, rgb(89, 89, 220));
    background-clip: text;
}

.n h1 {
    font-size: 60px;
}



.n p {
    font-size: 25px;
    color: grey;
    font-weight: 100;
}

.r1 {
    width: 40%;
}

.navi1 {
    display: flex;
    gap: 15px;
}



.work {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    font-size: 18px;
    justify-content: center;
    width: fit-content;
    padding: 8px 18px;
    border: 1px;
    background: linear-gradient(135deg, #ec4899 0%, #8b5cf6 100%);
}

.work a {
    color: white;
    text-decoration: none;
}

.work2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 4px solid white;
    border-radius: 10px;
    padding: 8px 18px;
    background-color: white;
    font-size: 18px;
    justify-content: center;
    width: fit-content;
}

.work2 a {
    color: black;
    text-decoration: none;
}

.r1 {
    position: relative
}

.pic {
    border: 4px solid white;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    margin-left: 90px;
}

.job {
    border: 4px;
    border-radius: 10px;
    font-size: 20px;
    right: 56px;
    bottom: 182px;
    width: fit-content;
    position: absolute;
    color: white;
}

.three {
    margin-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.abt {
    font-size: 20px;
    text-align: center;
    list-style: 40px;
    margin-bottom: -25px;
}

.line {
    border: 1px;
    border-radius: 2px;
    width: 96px;
    height: 4px;
    background: linear-gradient(135deg, #ec4899 0%, #8b5cf6 100%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.t {
    display: flex;
    width: 100%;
    margin-left: 60px;
}

.txt {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.pt {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.t1 {
    display: grid;
    grid-template: column;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 40px;
    margin-top: 15px;

}

.details {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 16px;
    width: 310px;
    height: 300px;
    background-color: black;
    color: white;
    margin-left: 20px;
    row-gap: 5px;
    padding: 20px;
}

.txt1,
.txt2 {
    border: 2px;
    border-radius: 12px;
    height: 115px;
    color: black;
    padding: 16px;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity, 1));
}

.edu,
.goal {
    display: flex;
    color: black;
    margin-bottom: -25px;
    align-items: center;
    gap: 12px;

}


.loc,
.mail,
.phn,
.available {
    display: flex;
    gap: 5px;
    align-items: center;

}

.loc span,
.mail span,
.phn span,
.available span {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity, 1));
    padding: 8px;
    margin-right: 16px;
    border-radius: 8px;
}

.l,
.e,
.p1,
.ava {
    display: flex;
    flex-direction: column;

}

.l p,
.l h4 {
    margin: 0;
}

.e p,
.e h4 {
    margin: 0;
}

.p1 p,
.p1 h4 {
    margin: 0;

}

.ava p,
.ava h4 {
    margin: 0;
}

.four {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
}

.Proj {
    text-align: center;
    margin-bottom: 64px;
}

.Proj h1 {
    font-size: 36px;
}

.Proj p {
    font-size: 20px;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}

.box {
    display: grid;
    gap: 30px 30px;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    padding-left: 16px;
    padding-right: 16px;

}

.box:hover {
    transition: all 0.3s ease;
}

.pro1,
.pro2,
.pro3,
.pro4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid transparent;
    border-radius: 22px;


}

.pr1 {
    border: 2px;
    background: linear-gradient(to right, rgb(159, 93, 159), blueviolet);
    height: 200px;
    position: relative;
}

.pr2 {
    border: 2px;
    background: linear-gradient(to right, rgb(108, 145, 248), rgb(96, 86, 214));
    height: 200px;
    position: relative;
}

.pr3 {
    border: 2px;
    background: linear-gradient(to right, rgb(88, 182, 74), rgb(4, 143, 9));
    height: 200px;
    position: relative;
}

.pr4 {
    border: 2px;
    background: linear-gradient(to right, rgb(239, 120, 73), rgb(246, 110, 14));
    height: 200px;
    position: relative;
}

.pr1 span,
.pr2 span,
.pr3 span,
.pr4 span {
    position: absolute;
    right: 245px;
    top: 50px;
}

.d1 {
    position: absolute;
    border: 2px;
    border-radius: 20px;
    background-color: white;
    top: 15px;
    right: 15px;
    padding: 10px;
    color: purple;
}

.d2 {
    position: absolute;
    border: 2px;
    border-radius: 20px;
    background-color: white;
    top: 15px;
    right: 15px;
    padding: 10px;
    color: dodgerblue
}

.d3 {
    position: absolute;
    border: 2px;
    border-radius: 20px;
    background-color: white;
    top: 15px;
    right: 15px;
    padding: 10px;
    color: green;
}

.d4 {
    position: absolute;
    border: 2px;
    border-radius: 20px;
    background-color: white;
    top: 15px;
    right: 15px;
    padding: 10px;
    color: orangered;

}

.tx1,
.tx2,
.tx3,
.tx4 {
    display: flex;
    flex-direction: column;
    border: 2px;
    height: 200px;
    padding: 24px;
    background-color: white;
}

.head1 h1,
.head2 h1,
.head3 h1,
.head4 h1 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
}

.head1 p,
.head2 p,
.head3 p,
.head4 p {
    margin-bottom: 16px;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}

.f1,
.f2,
.f3,
.f4 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.f1 div {
    width: fit-content;
    border: 2px;
    border-radius: 16px;
    background-color: lavender;
    padding: 5px;
    color: purple;
}

.f2 div {
    width: fit-content;
    border: 2px;
    border-radius: 16px;
    background-color: lightskyblue;
    padding: 5px;
    color: blue;
}

.f3 div {
    width: fit-content;
    border: 2px;
    border-radius: 16px;
    background-color: lightgreen;
    padding: 5px;
    color: green;
}

.f4 div {
    width: fit-content;
    border: 2px;
    border-radius: 16px;
    background-color: lightcoral;
    padding: 5px;
    color: sienna
}



.git1 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: purple;
}

.git2 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: dodgerblue
}

.git3 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: green;
}

.git4 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: orangered;
}

.last4 {
    color: purple;
    text-align: center;
    padding: 20px;
}

.five {
    margin-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.Tech {
    text-align: center;
    margin-bottom: 64px;
}

.Tech h1 {
    font-size: 36px;
}

.Tech p {
    font-size: 20px;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}

.lang {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

}

.lang h1 {
    font-size: 20px;
}

.l {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.percent1,
.percent2,
.percent3,
.percent4 {
    display: flex;
}

.st {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px;
}

.dot1 {
    display: flex;
    gap: 8px;
}

.c1 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: purple;
    align-items: center;
}

.c2 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: dodgerblue;
}

.c3 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
}

.c4 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orangered;
}



.bx {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 12px;
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1));
}

.bx-1 {
    position: absolute;
    width: 70%;
    height: 10px;
    border-radius: 12px;
    background: purple;
}

.bx-2 {
    display: flex;
    position: absolute;
    width: 60%;
    height: 10px;
    border-radius: 12px;
    background: dodgerblue;
}

.bx-3 {
    display: flex;
    position: absolute;
    width: 80%;
    height: 10px;
    border-radius: 12px;
    background: green;
}

.bx-4 {
    display: flex;
    position: absolute;
    width: 80%;
    height: 10px;
    border-radius: 12px;
    background: orangered;
}

.five1 {
    display: flex;
    flex-direction: column;
}

.tools {
    width: 50%;
    padding-left: 16px;
    padding-right: 16px;
}

.tools h1 {
    font-size: 20px;
    margin-left: 30px;
}

.gr {
    display: flex;
    flex-direction: column;
}

.gr1 {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 2fr);
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
}

.react,
.node,
.mongo,
.docker,
.git,
.fire {
    display: flex;
    gap: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
    align-items: center;
    border-radius: 8px;
    padding: 16px;

}

.area {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(1, 2fr);
    padding: 16px;

}





.ml {
    border: 2px;
    border-radius: 8px;
    width: fit-content;
    background-color: lavender;
    color: purple;
    font-size: 16px;
    padding: 14px;
}

.web {
    border: 2px;
    border-radius: 8px;
    width: fit-content;
    background-color: lightskyblue;
    color: dodgerblue;
    font-size: 16px;
    padding: 14px;
}

.mob {
    border: 2px;
    border-radius: 8px;
    width: fit-content;
    background-color: lightgreen;
    color: green;
    font-size: 16px;
    padding: 14px;
}

.ds {
    border: 2px;
    border-radius: 8px;
    width: fit-content;
    background-color: darksalmon;
    color: orangered;
    font-size: 16px;
    padding: 14px;
}

.six {
    margin-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 100px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
}

.Act {
    text-align: center;
    margin-bottom: 64px;

}

.Act h1 {
    font-size: 36px;
}

.Act p {
    font-size: 20px;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.data1,
.data2,
.data3 {
    border: 2px;
    border-radius: 12px;
    background-color: white;
    width: 70%;
    padding: 16px;
    align-items: center;
    box-shadow: 3px 3px rgb(224, 223, 223);
}

.data1 h1,
.data2 h1,
.data3 h1 {
    font-size: 24px;
    padding-left: 20px;
}

.data1 p,
.data2 p,
.data3 p {
    font-size: 20px;
    padding-left: 20px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading span {
    color: purple;
    font-size: 18px;
}

.data1 ul,
.data2 ul,
.data3 ul {
    line-height: 2;
}

.seven {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 100px;
    margin-left: 16px;
    margin-right: 16px;
}

.seven1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.seven1 h1 {
    font-size: 36px;
}

.seven1 p {
    font-size: 20px;
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}

.connect {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.conn1{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.conn1 h1,
.conn2 h1{
    font-size:22px;
}
.both {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:48px;
    padding-top:35px;
}

.details1 {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 16px;
    width: 500px;
    height: 400px;
    background-color: black;
    color: white;
    margin-left: 30px;
    row-gap: 15px;
    padding: 24px;
}

.items{
    display:flex;
    gap:5px;
    align-items: center;
}

.items span {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity, 1));
    padding: 8px;
    margin-right: 16px;
    border-radius: 8px;
}
.container{
    width:50%;
}
.form {
   background: white;
   padding:15px;
    border-radius:10px;
}
.your-name{
   display: flex;
    gap: 95px;
    align-items: center;
    justify-content: center;
    padding-bottom:25px;
    width:100%;
}
.nam{
   display:flex;
   flex-direction: column;
   gap:8px;
   width:50%;
}
label{
    margin-bottom:5px;
    font-weight:500;
}
input,
textarea{
padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.nam2{
    display:flex;
    flex-direction: column;
    padding-bottom:25px;
    width: 100%;
    gap:8px;
}
.nam1{
    display:flex;
    flex-direction: column;
    padding-bottom:25px;
    width: 100%;
    gap:8px;
}
.nam1 input{
    height:144px;
    width:100%;
}
input:focus, 
textarea:focus {
  border-color: purple;
  box-shadow: 0 0 5px rgba(128, 0, 128, 0.3);
}

textarea {
    width:100%;
  height: 120px;
  resize: none;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, purple,blueviolet);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
