.row12 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
    gap: 0px 50px;
}


.w {
    width: 100%;
    font-family: cursive;
    height: fit-content;
    background: white;
    border: 2px solid #2d3748;
    border-radius: 15px;
    padding: 18px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0 #2d3748;
}

.w1 {
    font-size: 20px;
    line-height: 28px;
    padding: 16px 32px;
    width: 100%;
    height: 70px;
    border: 3px solid black;
    border-radius: 35px;
}

.rw12r {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    height: fit-content;
}

.mail {
    padding: 11px 5px;
}

.mail1 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: -15px 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.r12-1 {
    background-color: #ffeaa7;
    font-family: cursive;
    border: 2px solid black;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 6px 6px #000000;
    transform: rotate(-1deg);
    transition: all 0.3s ease;
    padding: 12px 10px;
}

.r12-1 h3 {
    margin-bottom: 5px;
    font-weight: 700;
    padding-left: 20px;
}

.mail2 {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
}

.r12-2 h3 {
    font-weight: 700;
    font-family: cursive;
    margin-top: 0px;
}

.r12-2 {
    background: rgb(150, 206, 180);
    font-family: cursive;
    border: 2px solid black;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 6px 6px #000000;
    transform: rotate(1deg);
    transition: all 0.3s ease;
    padding: 25px 20px;
}

.r12-1:hover,
.r12-2:hover {
    transform: rotate(0deg);
}

.i12 {
    border: 2px solid black;
    border-width: 3px;
    border-radius: 50%;
}